<!-- <p>
    navigation works!
</p> -->

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="assets/img/CozyVille.png" alt="CozyVille Logo" style="max-width: 180px" class="img-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link text-white">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Packages</a>
                </li>
            </ul>
        </div>
    </nav>
</div>